body {
	margin: 0;
	font-weight: 100;
	font-size: 1em;
  font-family: Helvetica, Arial, Sans-Serif;
}

div {
	min-height: 100vh; 
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: green;
	color: white;
	padding: 0 1.5em;
}